# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/sgmdigitalservices.ui/FileContentIndex/09710836-e164-4426-b2ef-33a78f55271f.vsidx
.vs/VSWorkspaceState.json
.vs/sgmdigitalservices.ui/FileContentIndex/read.lock
.vs/sgmdigitalservices.ui/v17/.suo
.vs/sgmdigitalservices.ui/FileContentIndex/a773f0d1-c326-4187-af23-520e4c1e5009.vsidx
.vs/slnx.sqlite
